option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "track.settings"
    PYTHONPATH: "/opt/python/current/app/track:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    aws:elasticbeanstalk:container:python:
    WSGIPath: "track/wsgi.py"
  aws:elasticbeanstalk:container:python:staticfiles:
    option_name: /static/
    value: static/