@import "/static/css/html5reset.css";
body {
  background-color: #192747;
  font-family: 'Nanum Gothic', sans-serif;
  color: #231f20;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.floatL {
  float: left;
}
.floatR {
  float: right;
}
.ta-left {
  text-align: left;
}
.ta-right {
  text-align: right;
}
input {
  outline: none;
}
div.base-toast {
  width: 100vw;
  height: 42px;
  line-height: 42px;
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
}
div.base-toast.toast-type-general {
  background-color: #888888;
  color: black;
}
.container {
  width: 1200px;
  left: 50%;
  position: relative;
  margin-left: -600px;
}
header.feed-header {
  width: 100vw;
  height: 50px;
  text-align: center;
  box-shadow: 0 -2px 10px #4265b7;
  background-color: #4265b7;
  color: white;
}
header.feed-header a.logo {
  display: block;
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -50px;
  height: 50px;
}
header.feed-header a.logo img {
  height: 45px;
  margin-top: 3px;
}
header.feed-header div.account {
  cursor: pointer;
  line-height: 30px;
  font-size: 14px;
  padding: 10px;
  background-color: #6582c7;
  position: relative;
}
header.feed-header div.account ul.dropdown {
  display: none;
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #fbfbfd;
  border-radius: 0 0 10px 10px;
  border: 1px solid #4265b7;
  z-index: 10;
  border-top: 0 none;
  color: #231f20;
  overflow: hidden;
  min-width: 140px;
  padding-top: 5px;
  box-shadow: 0 0 5px #8aa0d5;
}
header.feed-header div.account ul.dropdown a {
  display: block;
  color: inherit;
}
header.feed-header div.account ul.dropdown li {
  line-height: 18px;
  padding: 5px 20px;
  height: 20px;
  font-size: 13px;
}
header.feed-header div.account ul.dropdown li:hover {
  background-color: #4265b7;
  color: white;
}
header.feed-header div.account:hover {
  background-color: #192747;
}
header.feed-header div.account:hover i {
  transform: rotate(180deg);
}
header.feed-header div.account:hover ul.dropdown {
  display: block;
}
header.feed-header div.account i {
  transition: transform 0.2s;
}
header.feed-header div.account div.profile_pic {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  overflow: hidden;
  margin-right: 10px;
}
header.feed-header div.account div.profile_pic img {
  height: 30px;
}
section.feed-content section.feed-sidebar {
  background-color: #192747;
  color: white;
  height: calc(100vh - 50px);
  width: 280px;
  box-sizing: border-box;
  overflow: scroll;
  padding-bottom: 20px;
}
section.feed-content section.feed-sidebar ul a {
  display: block;
  color: inherit;
}
section.feed-content section.feed-sidebar ul div.seperator {
  margin-top: 20px;
  color: #8aa0d5;
  font-size: 13px;
  font-weight: bold;
  padding-left: 60px;
  margin-bottom: 10px;
}
section.feed-content section.feed-sidebar ul li {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  height: 30px;
  line-height: 30px;
  border-radius: 10px 0 0 10px;
  padding-left: 60px;
  padding-right: 40px;
  transition: background-color 0.2s;
}
section.feed-content section.feed-sidebar ul li i {
  font-size: 20px;
  line-height: 30px;
}
section.feed-content section.feed-sidebar ul li span {
  font-weight: bold;
}
section.feed-content section.feed-sidebar ul li.selected {
  background-color: #2e467f;
}
section.feed-content section.feed-sidebar ul li:hover {
  background-color: #4265b7;
}
section.feed-content section.feed-sidebar ul a.fetch-all-channel {
  display: inline-block;
  font-size: 12px;
  line-height: 20px;
  text-align: right;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
  padding-right: 40px;
}
section.feed-content section.feed-sidebar ul a.fetch-all-channel i {
  margin-right: 10px;
}
section.feed-content section.main-area {
  height: calc(100vh - 50px);
  width: calc(1200px - 280px);
  background-color: #fbfbfd;
  overflow: scroll;
  box-sizing: border-box;
  padding: 20px 40px;
}
section.feed-content article.issue {
  width: calc(1200px - 460px);
  padding: 20px 50px;
}
section.feed-content article.issue ul.tabs {
  width: calc(1200px - 460px);
  padding: 0 0 0 20px;
  box-sizing: border-box;
}
section.feed-content article.issue ul.tabs a {
  display: block;
}
section.feed-content article.issue ul.tabs li.tab {
  padding: 0 10px;
  height: 30px;
  border-radius: 10px 10px 0 0;
  background-color: #d5ddf0;
  transition: background-color 0.2s;
  font-size: 12px;
  line-height: 30px;
  margin-right: 5px;
}
section.feed-content article.issue ul.tabs li.tab:hover {
  background-color: #8aa0d5;
}
section.feed-content article.issue ul.tabs li.tab div.profile_pic {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  overflow: hidden;
  margin: 5px;
}
section.feed-content article.issue ul.tabs li.tab div.profile_pic img {
  height: 20px;
}
section.feed-content article.issue ul.tabs li.tab div.team_name {
  margin-right: 5px;
}
section.feed-content article.issue ul.tabs li.tab.priority_tab {
  cursor: default;
  background-color: #fbfbfd;
}
section.feed-content article.issue ul.tabs li.tab.priority_tab:hover {
  background-color: #fbfbfd;
}
section.feed-content article.issue ul.tabs li.tab.priority-1 {
  color: #777;
}
section.feed-content article.issue ul.tabs li.tab.priority-2 {
  color: green;
}
section.feed-content article.issue ul.tabs li.tab.priority-3 {
  color: blue;
}
section.feed-content article.issue ul.tabs li.tab.priority-4 {
  color: orange;
}
section.feed-content article.issue ul.tabs li.tab.priority-5 {
  color: red;
}
section.feed-content article.issue div.content {
  border-radius: 5px;
  border: 2px solid #4265b7;
  margin-bottom: 0;
  box-shadow: 0 5px 14px -10px #4265b7;
}
section.feed-content article.issue div.content h2 {
  background-color: #4265b7;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  line-height: 25px;
}
section.feed-content article.issue div.content p.content {
  font-size: 14px;
  line-height: 20px;
  padding: 10px 20px;
}
section.feed-content article.issue div.content div.task_label {
  margin-top: 10px;
  margin-left: 20px;
  line-height: 20px;
  font-size: 12px;
}
section.feed-content article.issue div.content ul.tasks li.task {
  margin-top: 5px;
  margin-top: 10px;
}
section.feed-content article.issue div.content ul.tasks li.task a {
  display: block;
}
section.feed-content article.issue div.content ul.tasks li.task div.assigned_to {
  border-radius: 0 5px 5px 0;
  overflow: hidden;
  font-size: 12px;
  line-height: 30px;
  background-color: #d5ddf0;
  padding: 5px 15px;
  transition: background-color 0.2s;
}
section.feed-content article.issue div.content ul.tasks li.task div.assigned_to div.profile_pic {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  overflow: hidden;
  margin: 5px;
}
section.feed-content article.issue div.content ul.tasks li.task div.assigned_to div.profile_pic img {
  height: 20px;
}
section.feed-content article.issue div.content ul.tasks li.task div.assigned_to div.team_name {
  margin-right: 5px;
}
section.feed-content article.issue div.content ul.tasks li.task div.assigned_to:hover {
  background-color: #8aa0d5;
}
section.feed-content article.issue div.content ul.tasks li.task div.job {
  font-size: 12px;
  line-height: 30px;
  padding: 5px 15px;
}
section.feed-content article.issue ul.comments {
  margin: -1px 20px 0;
  border: 1px solid #8aa0d5;
  border-radius: 0 0 5px 5px;
  overflow: hidden;
}
section.feed-content article.issue ul.comments li.comment {
  border-bottom: 1px dotted #8aa0d5;
  position: relative;
}
section.feed-content article.issue ul.comments li.comment a {
  display: block;
}
section.feed-content article.issue ul.comments li.comment div.author {
  font-size: 12px;
  line-height: 25px;
  background-color: #d5ddf0;
  padding: 5px 8px 5px 7px;
  transition: background-color 0.2s;
}
section.feed-content article.issue ul.comments li.comment div.author div.profile_pic {
  width: 15px;
  height: 15px;
  border-radius: 8px;
  overflow: hidden;
  margin: 5px;
}
section.feed-content article.issue ul.comments li.comment div.author div.profile_pic img {
  height: 15px;
}
section.feed-content article.issue ul.comments li.comment div.author div.team_name {
  margin-right: 5px;
}
section.feed-content article.issue ul.comments li.comment div.author:hover {
  background-color: #8aa0d5;
}
section.feed-content article.issue ul.comments li.comment div.comment {
  font-size: 12px;
  line-height: 25px;
  padding: 5px 15px;
  word-wrap: break-word;
  max-width: calc(1200px - 688px);
}
section.feed-content article.issue ul.comments li.comment div.created_at {
  position: absolute;
  top: 5px;
  right: 5px;
  opacity: 0;
  color: #ccc;
  transition: opacity 0.2s, background-color 0.2s;
  font-size: 10px;
  line-height: 25px;
  background-color: rgba(255, 255, 255, 0);
  padding-left: 10px;
  border-radius: 15px;
}
section.feed-content article.issue ul.comments li.comment:hover div.created_at {
  opacity: 1;
  background-color: #ffffff;
}
section.feed-content article.issue ul.comments form.add_comment_form input[type=text] {
  width: 100%;
  line-height: 30px;
  margin: 0;
  padding: 0 10px;
  box-sizing: border-box;
  border: none;
}
