<!DOCTYPE html>
<html lang="ko">
<head>
	<title>{% block title %}Track - Team Based Issue Tracker{% endblock %}</title>
	<script src="/static/js/jquery/jquery-3.3.1.min.js"></script>
	<script src="/static/js/scripts.js"></script>
	{% load compile_static %}
	{% load static %}
	<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/style.less'|compile %}" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
	{% block head %}
	{% endblock %}
</head>
<body {% block bodyattr %}{% endblock %}>
	{% if toast %}
	<div class="base-toast toast-type-{{ toast.type }}">{{ toast.message }}</div>
	{% endif %}
	{% block body %}
	{% endblock %}
</body>
</html>