{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class='feed-main-frame'>
	{% include 'feed/blocks/header.block.html' %}
	<section class="feed-content container clearfix">
		{% include 'feed/blocks/sidebar.block.html' %}
		<section class="main-area floatL">
			{% for issue in issues %}
			<article class="issue">
				<ul class="tabs clearfix">
					<a href="{% url 'feed:channelView' channel_name=channel_name %}"><li class="tab channel_tab floatL"><i class="fas fa-hashtag"></i> {{ channel_name }}</li></a>
					<a href="{% url 'feed:channelView' channel_name=channel_name %}">
					<li class="tab author_tab clearfix floatL"><div class="profile_pic floatL"><img class="profile_pic" src="{% include 'feed/blocks/profile_pic.block.html' with person=issue.author.person %}" /></div><div class="team_name floatL">{{ issue.author.person.team.name }}</div><div class="name floatL">{{ issue.author.person.name }}님</div></li></a>
					<li class="tab priority_tab floatR priority-{{ issue.priority }}"><i class="fas fa-flag"></i></li>
				</ul>
				<div class="content">
					<h2 class="title">{{ issue.title }}</h2>
					<p class="content">{{ issue.content }}</p>
					<div class="task_label">Tasks</div>
					<ul class="tasks">
						{% for task in issue.tasks.all %}
							<li class="task clearfix">
								<a href="#profilepage" class="floatL"><div class="assigned_to clearfix"><div class="profile_pic floatL"><img class="profile_pic" src="{% include 'feed/blocks/profile_pic.block.html' with person=task.assigned_to.person %}" /></div><div class="team_name floatL">{{ task.assigned_to.person.team.name }}</div><div class="name floatL">{{ task.assigned_to.person.name }}님</div></div></a>
								<div class="job floatL">{{ task.job }}</div>
							</li>
						{% endfor %}
					</ul>
					<form class="add_task_form ajax_form" methods="POST" action="{% url 'feed:issueTaskView' issue_id=issue.id %}" data-csrf-token="{{ csrf_token }}">
						<input type="text" name="person_search_field" /><input type="text" name="job" />
						<input type="hidden" name="assigned_to" />
					</form>
				</div>
				<ul class="comments">
					{% for comment in issue.comments.all %}
						<li class="comment clearfix"><a href="#profilepage" class="floatL"><div class="author clearfix"><div class="profile_pic floatL"><img class="profile_pic" src="{% include 'feed/blocks/profile_pic.block.html' with person=comment.author.person %}" /></div><div class="team_name floatL">{{ comment.author.person.team.name }}</div><div class="name floatL">{{ comment.author.person.name }}님</div></div></a>
						<div class="comment floatL">{{ comment.content }}</div><div class="created_at">{{ comment.created_at }}</div></li>
					{% endfor %}
					<form class="add_comment_form ajax_form" methods="POST" action="{% url 'feed:issueCommentView' issue_id=issue.id %}" data-csrf-token="{{ csrf_token }}">
						<input type="text" name="content" placeholder="댓글을 입력하세요" />
						<input type="hidden" name="author" value="{{ request.user.id }}" />
					</form>
				</ul>
			</article>
			{% endfor %}
			{% for m in members %}
			{{ m.person.name }}
			{% endfor %}
		</section>
	</section>
</div>
{% endblock %}